---
---


@import "jekyll-theme-minimal";

.wrapper {
  width:960px;
  margin:0 auto;
}
section {
  width:600px;
  float:right;
  padding-bottom:50px;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 5px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 15px;
}
