<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}   
`   
    {% include analytics.html %}   
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 style="text-align:center;"><a href="https://wildcard-theboard.github.io/Pan-TheBoard">InfoCenter</a></h1>
        
        <p align="center">
         <img 
           src="../assets/img/Devil face.png" 
           onerror="this.onerror=null; this.src='assets/img/Devil face.png';"
           width="60%" alt="A Logo"           
           />         
        </p>
       
        <h3 style="text-align:center;"><a href="https://wildcard-theboard.github.io">{{ site.title | default: site.github.repository_name }}</a></h3>        
        <p style="text-align:center;">Latest ver. 1-0-45<br>in <a href="https://www.microsoft.com/store/apps/9MT0M2CVM7HJ">MS Store</a></p>      
        <p style="text-align:center;"> <a href="https://wildcard-theboard.github.io/Pan-TheBoard/Manual/BoardCtrl-Contents">User's Manual</a></p>   
 
        <br/>  
        <h3 style="text-align:center;">New to Go?</h3>
        <p style="text-align:center;">Visit <a href="https://wildcard-theboard.github.io/Pan-TheBoard/Pages/BeginnersLounge">Beginner's Lounge</a><br>
        
        <br/> 
        <h3 style="text-align:center;">InfoSite</h3>
        <p style="text-align:center;"><a href="https://senseis.xmp.net/">Sensei's Library</a><br>
        <a href="https://www.lifein19x19.com/index.php">Life in 19x19</a><br>
        <a href="https://online-go.com/">OGS</a><br>
        <a href="https://www.goproblems.com/">goproblems.com</a> </p> 
              
       
        <br/>
        <h3 style="text-align:center;">Go content creator?</h3>
        <p style="text-align:center;"><a href="https://wildcard-theboard.github.io/Pan-TheBoard/Pages/LinkToInfoCenter">Link to InfoCenter</a><br>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p style="text-align:center;">
        For missing link or inquiries,<br> email to<br>
        jkadreamer<br>
        at gmail dot com
        </p>
        <p style="text-align:center;">Maintained by Sweet Dreamer</p>
        
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
